<footer class="page-footer orange">
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col l8 s12">
            <ul>
              <li><a class="white-text" href="http://bibliotheque-blogs.unice.fr/sudoc-ps/">Blog du CR</a></li>
              <li><a class="white-text" href="mailto:sudoc-ps.paca-nice@univ-cotedazur.fr">Contact</a></li>
            </ul>
            © 2021 SCD Université Côte d'Azur
      </div>
      <div class="col l4 s12">
        Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
      </div>
    </div>
    </div>
  </footer>