<footer class="orange">
    <div class="container">
      <div class="row">
        <div class="col l8 s12">
          <ul>
            <li><a class="white-text" href="http://bibliotheque-blogs.unice.fr/sudoc-ps/">Blog du CR</a></li>
            <li><a class="white-text" href="mailto:sudoc-ps.paca-nice@univ-cotedazur.fr">Contact</a></li>
          </ul>
    </div>
    <div class="col l4 s12">
      <ul>
        <li>© 2021 SCD Université Côte d'Azur</li>
        <li>Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a></li>
      </ul>
      </div>
    </div>
  </div>
 </footer> 