<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper">
      <a href="./" class="brand-logo">Sudoc-PS PACA Nice / AUPLA</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="./unicas">Unica</a></li>
          <li><a href="./presselocale">Presse locale ancienne</a></li>
          <li><a href="./graphe">Graphe de données</a></li>
          <li><a href="./export">Exports</a></li>
          <li><a href="./documentation">A propos</a></li>
          <li><img src="./images/logo.png" /></li>
        </ul>
    </div>
  </nav> 