<div class="section" id="index-banner">
    <div class="container">
            <div class="row" style="margin-bottom: 0;">
              <!--<div class="col s12 m12 l12offset-m1 xl7 offset-xl1 center-on-small-only">-->
                  <div class="col s12">
                <h4 class="light">Documentation pour les Centres du réseau</h4>
                <p>Cette page est à destination des Centres du réseau Sudoc-PS qui souhaiteraient utiliser l'application avec leurs propres métadonnées.</p>
                <p><i>Besoin d'un coup de main ?</i> <a id="download-source" class="btn waves-effect waves-light" href="mailto:sudocps-scd@unice.fr">Nous contacter<i class="material-icons right">file_download</i></a></p> 
              </div>
            </div>
          </div>
        </div>
      <div class="container">
        <div class="row">
        <div class="col s12">
            <h5 class="header">La base de données</h5>
            <p class="caption">Le système de gestion de base de données orientée graphe utilisé est Neo4j, avec un langage de requête spécifique Cypher</p>
        </div>
            <div class="col s12 m6 l3"><p>Installer Neo4j</p></div>
            <div class="col s12 m6 l3"><p>Documentation</p></div>
            <div class="col s12 m6 l3"><p>Cypher</p></div>
            <div class="col s12 m6 l3"><p>Lien utile</p></div>
          </div>
   
        <div class="divider"></div>
        <div class="row">
            <div class="col s12">
                <h5 class="header">Charger les données</h5>
                <p class="caption">Graphgist disponible sur Github <a href="https://gist.github.com/gegedenice/c7e53cc4c3d65b8bc1639d4b55a90be6" target="_blanck">https://gist.github.com/gegedenice/c7e53cc4c3d65b8bc1639d4b55a90be6</a></p>
            </div>
            </div>
        </div>