<!-- controleur déjà déclaré dans app.js <div class="ppt-body" ng-controller="GraphepopotoCtrl">-->
        <div class="ppt-body">
    <section class="ppt-section-main">
        <div class="ppt-section-header">
            <span class="ppt-header-span">Graph</span> search
        </div>
    
       <div class="ppt-container-graph">
            <nav id="popoto-taxonomy" class="ppt-taxo-nav">

            </nav>
            <div id="popoto-graph" class="ppt-div-graph">
               
            </div>
        </div>
    
       <div id="popoto-query" class="ppt-container-query">
            
        </div>
    
        <div id="popoto-cypher" class="ppt-container-cypher">
           
        </div>
    
        <div class="ppt-section-header">
         
            RESULTS <span id="result-total-count" class="ppt-count"></span>
        </div>
    
        <div id="popoto-results" class="ppt-container-results">
           
        </div>
    
    </section>
</div>
