<h3 class="header">La Presse locale ancienne</h3>
<div id="top" loading="loading">
<!--controleur déjà déclaré dans app.js <div ng-controller="PresselocaleCtrl">-->
  <div>
        <div class="row">
                <div class="col s12 m4 l3">
                <input id="search" type="text" class="validate" placeholder="Chercher (titre, ppn, bibliothèque)" ng-model="search.$">               
                 <p>
                    <label>
                      <input type="radio" class="with-gap" name="bibRadio" ng-model="bibRadio.bib.name" value="" checked />
                      <span>Toutes les bibliothèques</span>
                    </label>
                  </p>
                  <p ng-repeat="bib in bibsFacet | filter:search">
                      <label>
                          <input type="radio" class="with-gap" name="bibRadio" ng-model="$parent.bibRadio.bib.name" value="{{bib.name}}"/>
                          <span>{{bib.name}} ({{bib.value}})</span>
                        </label>
                  </p>
                </div>
              <div class="col s12 m8 l9"> 
              <p></p>
              <div class="chip pink darken-4">
              <span class="white-text">Nombre de résultats : {{(totalFilteredResults).length}}</span>
               </div>
               <canvas id="bar" height="100" class="chart chart-bar" chart-data="values" chart-labels="keys" chart-series="series"></canvas>
                <table datatable="ng" class="row-border hover">
                             <thead>
                        <tr>
                            <th>ARK</th>
                            <th>ISSN</th>
                            <th>Titre</th>
                            <th>Zone d'édition (lieu|date)</th>
                            <th>Département(s) concerné(s)</th>
                            <th>Lien notice Sudoc</th>
                            <th>Localisations Sudoc (CR)</th>
                            <th>Numérisation</th>
                        </tr>
                      </thead>
                      <tbody>               
                             <!--<tr dt-rows ng-repeat="data in datas | filter:search:strict | filter: { sudoc_locs: [{ name: bibRadio }] } as totalFilteredResults">-->
                              <tr dt-rows ng-repeat="data in datas | filter:search:strict | filter:sudoc_locs: [{ name: bibRadio }] as totalFilteredResults">
                                  <td class="td-ppn"><a ng-href="http://presselocaleancienne.bnf.fr{{data.record.ark}}" target="_blanck">{{data.record.ark}}</a></td>
                                  <td class="td-ppn">{{data.record.issn}}</td>
                                  <td class="td-titre">{{data.record.titre}}</td>
                                  <td class="td-titre">{{data.record.edition}}</td>
                                  <td class="td-small"><span class="new badge" data-badge-caption="" ng-repeat="dpt in data.depts_about")>{{dpt.name}}</span></td>
                                  <td class="td-ppn"><a ng-href="{{data.sudoc_record.url_sudoc}}" target="_blanck">{{data.sudoc_record.url_sudoc}}</a></td>
                                  <td class="td-small"><span class="new badge" data-badge-caption="" ng-repeat="bib in data.sudoc_locs")>{{bib.name}}</span></td>
                                  <td class="td-small"><ul><li ng-repeat="num in data.numerisation">{{num.lieu}} : <a ng-href="{{num.url}}" target="_blanck">{{num.url}}</a></li></ul></td>
                              </tr>
                              </tbody>
                              <tfoot>
                          <tr>
                            <th>ARK</th>
                            <th>ISSN</th>
                            <th>Titre</th>
                            <th>Département(s) concerné(s)</th>
                            <th>Lien notice Sudoc</th>
                            <th>Localisation(s) Sudoc</th>
                            <th>Numérisation</th>
                          </tr>
                      </tfoot>
                          </table>
              </div>
              </div>
</div>
</div>
